body {
  font-family: "Poppins";
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-gradient: linear-gradient(135deg, #2d1b69, #6b2a96);
  --primary-color: #6b2a96;
  --secondary-color: #2d1b69;
  --text-color: #ffffff;
  --dark-bg: rgba(0, 0, 0, 0.15);
  --transaction-bg: rgba(0, 0, 0, 0.2);
  --input-bg: rgba(255, 255, 255, 0.15);
  --danger-color: #ff4444;
  --success-color: #4caf50;
  --border-radius: 16px;
  --button-radius: 100px;
  --text-black: #000000;
  --bg-white: #ffffff;
  --text-yellow: #d9e238;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-gradient);
  color: var(--text-color) !important;
  min-height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
}

.app-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/Dash-Board-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Status Bar */
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
}

.status-bar .time {
  font-weight: 500;
}

.status-bar .right {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 4px;
}

.back-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  opacity: 0.9;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upgrade-text {
  font-size: 12px;
  opacity: 0.9;
  border: 1px solid #f7a535;
  padding: 4px 4px;
  border-radius: 36px;
  line-height: 20px;
}

.header-icons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.icon-btn {
  height: 36px;
  width: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff45;
}

/* Tab Styles */
.wallet-tabs {
  display: flex;
  background: #352842;
  border-radius: var(--button-radius);
  padding: 4px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 300px;
  justify-content: center;
}

.tab-btn {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  color: var(--text-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

.tab-btn.active {
  background: #fff;
  font-weight: 500;
  color: #000;
}

/* Wallet ID Styles */
.wallet-id {
  background: var(--dark-bg);
  padding: 10px 20px;
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 340px;
  font-size: 14px;
  width: 100%;
}

.copy-btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.9;
}

/* Balance Section */
.balance-section {
  text-align: center;
  margin-bottom: 24px;
}

.balance-label {
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 8px;
}

.balance-amount {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 10px;
}

.wallet-limit {
  font-size: 14px;
  opacity: 0.7;
}

/* Button Styles */
.action-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
}

.action-btn {
  flex: 1;
  padding: 12px 10px;
  border: none;
  background: var(--bg-white);
  color: var(--text-black);
  border-radius: var(--button-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
}

.action-btn img {
  height: 20px;
  width: 20px;
}

.action-btn.receive-btn img {
  transform: rotate(180deg);
}

.action-btn:disabled,
.action-btn.send-pi-btn:disabled {
  flex: 1;
  padding: 12px 10px;
  border: none;
  background: #9e9e9e;
  color: var(--text-black);
  border-radius: var(--button-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
}

.action-btn.full-width {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: #fff;
  font-size: 17px;
  padding: 15px 20px;
}

.btn-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-btn {
  width: 100%;
  padding: 16px;
  border: none;
  background: var(--dark-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

/* Stats Section */
.stats-section {
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 12px;
  padding: 8px;
  position: relative;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
}

.stats-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  color: #000;
  justify-content: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat-card {
  padding: 8px 8px;
  text-align: center;
}

.stat-label {
  font-size: 13px;
  opacity: 0.9;
  margin-bottom: 8px;
  color: #3a3a3a;
}

.stat-value {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--text-black);
}

.stat-change {
  font-size: 13px;
  color: #00ff73;
}

/* Transaction Section */
.transaction-section {
  background: #16151a;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: auto;
  height: 30%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  transition: 0.3s ease-in-out;
}

.transaction-section.expanded {
  height: calc(100% - 20%);
  /* Expanded height */
}

.transaction-section.transaction-section-top {
  padding-top: 100px;
  margin-top: -120px;
}

.transaction-section.expanded .transaction-list {
  max-height: 100%;
}

.transaction-section h2 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.transaction-list {
  max-height: 300px;
  overflow-y: auto;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-right: 16px;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #272727;
}

.transaction-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.transaction-title {
  font-size: 15px;
  font-weight: 500;
}

.transaction-time {
  font-size: 13px;
  opacity: 0.7;
}

.transaction-amount {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.transaction-amount .transaction-date {
  font-size: 13px;
  opacity: 0.7;
  color: #fff;
  font-weight: 400;
}

.transaction-amount.positive {
  color: var(--success-color);
}

.transaction-amount.negative {
  color: #ff4b4b;
}

/* Send Page Styles */
.send-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.input-group fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.input-group label {
  font-size: 14px;
  opacity: 0.9;
}

.input-wrapper {
  display: flex;
  /* gap: 12px; */
}

.text-color {
  color: var(--text-yellow);
  font-family: sans-serif;
}

.input-wrapper input {
  flex: 1;
  padding: 16px;
  background: var(--dark-bg);
  border: none;
  border-radius: 40px;
  color: var(--text-color);
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.input-wrapper input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.paste-btn {
  padding: 0 20px;
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  opacity: 0.9;
}

.address-book-link {
  background: none;
  border: none;
  color: #e38cff;
  text-align: end;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.notes-input {
  width: 100%;
  padding: 16px;
  /* background: var(--dark-bg); */
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.notes-input-box {
  width: 100%;
  background: var(--dark-bg);
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 15px;
}

.amount-section {
  text-align: center;
  margin: 20px 0;
}

.amount-section label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  opacity: 0.9;
}

.amount-display {
  font-size: 40px;
  font-weight: 500;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 20px 0;
}

.numpad button {
  aspect-ratio: 1;
  background: var(--dark-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Receive Page Styles */
.qr-section {
  text-align: center;
  /* margin: 24px 0; */
}

.qr-code {
  /* padding: 24px; */
  border-radius: var(--border-radius);
  /* margin-bottom: 16px; */
  display: inline-block;
}

.qr-code img {
  width: 250px;
  height: 250px;
}

.wallet-address {
  font-size: 14px;
  opacity: 0.9;
  margin: 16px 0;
}

.circle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.circle-btn .icon {
  width: 50px;
  height: 50px;
  background: var(--dark-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.circle-btn span:last-child {
  font-size: 14px;
  opacity: 0.9;
}

.share-btn {
  gap: 8px;
  border-radius: 36px;
  margin-top: auto;
  background-color: #ffffff45;
  max-width: 150px;
}

/* Custom scrollbar */
.transaction-list::-webkit-scrollbar {
  width: 6px;
}

.transaction-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.transaction-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

button.address-book-btn {
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 14px;
  outline: 0;
  border: 0;
  width: 100%;
  box-shadow: none;
  text-align: center;
  color: var(--text-color);
  border: 1px solid #e38cff;
  cursor: pointer;
}

.app-container.p-20-0 {
  padding: 0;
}

.app-container .p-20 {
  padding: 20px;
}

.transaction-main-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-right: 16px;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #272727;
}

.transaction-details {
  display: flex;
  gap: 16px;
}

.stat-card:first-child {
  border-right: 1px solid #dfdfdf;
  /* Add border between the two divs */
}

.input-wrapper.send-input-box {
  position: relative;
}

.input-wrapper.send-input-box .paste-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.input-wrapper.send-input-box .left-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}

.transaction-icon {
  object-fit: contain;
}

.modal.user-setting-modal {
  bottom: 0;
  top: auto;
  height: unset;
}

.modal.show.user-setting-modal .modal-dialog {
  margin: 0 auto;
  padding: 8px 8px 0px 8px;
}

.modal.user-setting-modal .modal-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user-setting-modal .modal-title {
  font-size: 14px;
  color: #000;
}

.setting-icon-box img {
  max-width: 100%;
}

.setting-cont-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-top: 4px;
  margin-bottom: 0;
}

.setting-cont-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 26px;
  text-decoration: none;
  cursor: pointer;
}

.signin-header {
  justify-content: center;
}

.app-container.signin-main {
  display: flex;
  justify-content: center;
}

.sigin-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-icon img {
  height: 100%;
}

.sigin-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 0 30px;
  position: absolute;
  bottom: 0;
  max-width: 480px;
  width: 100%;
}

.sigin-footer p {
  font-family: inherit;
  font-size: 12px;
  color: white;
  line-height: 12px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.sigin-footer p:hover {
  color: lightgray;
}

.input-error {
  color: #b90005;
  font-size: 13px;
}

.set-pin-box .set-pin-input .MuiOtpInput-TextField {
  border: 1px solid #ffff;
  border-radius: 6px;
}

.set-pin-box .set-pin-input .MuiOtpInput-TextField input {
  color: #ffffff;
  font-weight: 600;
  padding: 12px;
  width: 42px;
}

.set-pin-box .set-pin-input .MuiOtpInput-TextField fieldset {
  display: none;
}

.set-pin-box .text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  word-spacing: 2px;
  margin-bottom: 13px;
  font-family: "Poppins";
}

.app-container {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.set-pin-row .show-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.set-pin-box .set-pin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-pin-box {
  width: 100%;
}

.textarea-question-sequrity label {
  color: #ffffff;
}

.textarea-question-sequrity .MuiOutlinedInput-root {
  color: #ffff;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 6px;
}

.textarea-question-sequrity .MuiOutlinedInput-root fieldset {
  display: none;
}

.set-pin-row input.set-pin-input-box {
  width: 58px !important;
  height: 54px;
  color: #ffff;
  font-size: 16px;
}

.set-pin-row input.set-pin-input-box {
  width: 56px !important;
  height: 46px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px !important;
  background: transparent;
  border: 3px solid white;
  color: white;
  font-weight: 600;
}

.set-pin-row input.set-pin-input-box:focus-visible {
  outline: none;
}

.app-container .heading {
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}

.app-container.set-pin-div {
  display: flex;
  padding: 20px 20px;
}

.set-pin-div .heading-note {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins";
  line-height: 18px;
}

.question-radio .question-radio-box,
.question-radio .question-radio-box.Mui-checked {
  color: white;
}

.pin-success-message-div {
  border: 4px solid #ffff;
  min-height: 350px;
  width: 100%;
  border-radius: 12px;
  padding: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}

.pin-success-message-div .logo-box img {
  height: 74px;
  width: 74px;
}

.pin-success-message-div .button-box button {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: #fff;
  font-size: 20px;
  padding: 18px 60px;
  border-radius: 46px;
  border: none;
}

.pin-success-message-div .success-message {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  align-items: 48px;
}

.app-container .p-26 {
  padding: 26px;
}

/* verification css start */

.common-pin-flex {
  display: flex;
  gap: 15px;
}

.common-pin-details .common-pin-flex .common-pin-input {
  width: 100% !important;
  height: 46px;
}

.common-pin-btn-center {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-head-details {
  margin-bottom: 35px;
}

.address-modal .common-style-modal {
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.15);
  /* semi-transparent white */
  backdrop-filter: blur(10px);
  /* frosted glass effect */
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.common-style-modal .modal-header-common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  border-bottom: 1px solid #82828294;
}

.modal-header-common .add-title {
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}

.common-grid .label-field {
  font-size: 14px;
  color: #eae1e1;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 3px;
  line-height: 20px;
}

.common-style-modal .modal-body {
  padding: 15px;
  max-height: calc(100vh - 170px);
  overflow: auto;
}

.flex-filed-details .radio-group-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-group-flex .MuiFormControlLabel-label {
  font-size: 14px;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
}

.common-grid .input-wrapper {
  flex-direction: column;
}

.grid-row .common-grid {
  margin-bottom: 14px;
}

.common-grid .input-wrapper input {
  border-radius: 7px;
  background: transparent;
  color: #fff;
  border: 1px solid #8f8e8e80;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.common-grid .input-wrapper input::placeholder {
  color: #b8b3b3;
}

.flex-filed-details .radio-group-flex span svg {
  color: #523b88;
}

.common-style-modal .modal-footer {
  padding: 15px 15px;
}

.footer-address-center .action-btn,
.footer-address-center .action-btn:hover,
.footer-address-center .action-btn.active {
  margin-bottom: 0px;
  background: #523b88;
  font-size: 17px;
  padding: 15px 20px;
  border: 1px solid transparent;
}

.modal-footer-address .footer-address-center {
  width: 100%;
}

.grid-row .common-grid:last-child {
  margin: 0px;
}

.list-ul-address .list-item-address {
  padding: 10px;
  border-radius: 8px;
  background: var(--dark-bg);
  margin-bottom: 10px;
}

.address-book-listing .list-ul-address {
  padding: 0px;
  max-height: calc(100vh - 210px);
  overflow: auto;
  padding-right: 10px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar,
.common-style-modal .modal-body::-webkit-scrollbar {
  width: 3px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-track,
.common-style-modal .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-thumb,
.common-style-modal .modal-body::-webkit-scrollbar-thumb {
  background: #8c76be;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-thumb:hover,
.common-style-modal .modal-body::-webkit-scrollbar-thumb:hover {
  background: #8c76be;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-left-contain .list-field-show {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 6px;
}

.flex-justify-gap-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.address-left-contain .list-field-show .label-contain-address {
  flex: 0 0 90px;
  max-width: 90px;
  width: 100%;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #ffff;
}

.address-left-contain .list-field-show .field-contain-address {
  flex: 1;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.address-left-contain {
  flex: 1;
}

.address-auth-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-auth-details .btn,
.address-auth-details .btn:hover,
.address-auth-details .btn:active {
  padding: 2px;
  border: none !important;
  background-color: #ffffff45 !important;
  border-radius: 50%;
  max-width: 30px;
  height: 30px;
  width: 100%;
}

.address-book-head .icon-btn {
  height: 30px;
  width: 30px;
}

.address-left-contain .list-field-show:last-child {
  margin-bottom: 0px;
}

.address-auth-details .btn svg {
  font-size: 18px;
  color: #fff;
}

.address-right-contain {
  max-width: 30px;
  width: 100%;
}

.address-book-listing.MuiBox-root.css-0 {
  margin-right: -10px;
}

.address-book-head .address-book-title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.address-book-head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.modal-header-common.address-modal-header .btn-close {
  margin-left: auto;
  background-color: #fff;
}

.delete-modal-contain {
  text-align: center;
}

.delete-modal-contain .are-you-sure-title {
  color: #fff;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.delete-modal-contain .are-you-sure-desc {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.footer-address-center .action-btn-border {
  margin-bottom: 0px;
  background: transparent;
  font-size: 17px;
  padding: 15px 20px;
  color: #f8f6fc;
  outline: none;
  border-radius: 30px;
  border: 1px solid #e0dee6;
  width: 100%;
  font-weight: 500;
}

.delete-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.delete-flex button {
  width: 100%;
  max-width: 130px;
}

.no-address-book {
  min-height: calc(100vh - 290px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.no-address-book .no-address-title {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.security-question-details .security-question-title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.verify-answer-content .verify-answer-label {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 5px;
}

.verify-answer-content .Mui-error {
  margin-left: 0px;
}

.verify-answer-content .verify-answer-label {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 5px;
}

.verify-answer-content .Mui-error {
  margin-left: 0px;
}

.textarea-question-sequrity .MuiInputBase-fullWidth {
  padding: 16px;
  font-size: 14px;
  font-family: "Poppins";
  color: #fff;
  background: var(--dark-bg);
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.textarea-question-sequrity .MuiInputBase-fullWidth textarea::placeholder {
  color: #fff;
  opacity: 0.6;
}

.verify-answer-content .textarea-question-sequrity {
  margin: 5px 0px 0px 0px;
}

.notes-input-box .notes-input input {
  background: transparent;
  padding: 0px;
}

.notes-input-box .notes-input .MuiInputBase-formControl {
  padding: 11.35px 9px;
  font-family: "Poppins";
}

.notes-input-box .notes-input svg {
  color: #ffff;
  opacity: 0.8;
}

.withdraw-form .input-mb-space {
  margin-bottom: 20px;
}

.pr-receive-input .input-wrapper input {
  padding-right: 90px;
}

.receive-btn-share .secondary-btn.share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  height: 54px;
}

.receive-btn-share {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

span.icon {
  display: flex;
  margin-top: -2px;
}

.loader-main {
  background: #00000085;
  height: 100vh;
  border-radius: 11px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-main .loader-details {
  position: relative;
  max-width: max-content;
}

.loader-outer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 4px;
  background: conic-gradient(#ff9800, #ffc107, #ff9800);
  animation: spinBorder 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-ring {
  width: 90px;
  height: 90px;
  border: 3px solid rgb(247 165 53 / 50%);
  border-top-color: #f7a535;
  border-radius: 50%;
  transform-origin: center;
  animation: rotatering 2s linear infinite;
  -webkit-animation: rotatering 2s linear infinite;
}

@keyframes rotatering {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-inner {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.security-ques-div h5 {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.question-radio label .MuiFormControlLabel-label {
  font-family: "Poppins";
}

.btn-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-home-content .btn-home-content {
  margin-bottom: 0px;
  font-family: Poppins;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 20px;
}

.action-send-main-contain {
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.action-send-main-contain .btn-icon img {
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7481%)
    hue-rotate(137deg) brightness(91%) contrast(97%);
}

.receiver-addres-scanner-box .scanner-icon img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.receiver-addres-scanner-box .scanner-icon {
  min-width: 50px;
}

.deduction-message {
  margin: 10px 0 0 10px;
}

.subscription-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
}

.subscrip-heading p {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  font-family: "Poppins";
}

.tick-mark-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subscrip-description p {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
}

.subscrip-icon img {
  height: 20px;
  width: 20px;
}

.header-icons .subscrip-icon {
  cursor: auto;
}

/* #html5qr-code-full-region__dashboard video:nth-child(2){
  display: none;
} */
.app-container .qr-scanner-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-container .qr-scanner-main-div #qr-reader {
  margin: 20px;
  padding: 20px !important;
  border-radius: 12px;
  border: 3px solid #ffff !important;
  width: 100% !important;
}

#html5-qrcode-button-camera-permission {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: #fff;
  font-size: 17px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: #fff;
  font-size: 17px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

#qr-reader__scan_region img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(128deg) brightness(100%) contrast(101%);
}

.action-send-main-contain .action-btn,
.action-send-main-contain .action-btn:hover,
.action-send-main-contain .action-btn:active {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  max-width: 160px;
  padding: 9px 10px;
}

.action-send-main-contain .action-btn img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4097%)
    hue-rotate(317deg) brightness(112%) contrast(106%);
}

.tick-mark-icons .verify-icons {
  height: 20px;
  width: 20px;
}

.notes-input-box
  .MuiFormControl-fullWidth
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment {
  display: none;
}

.receiver-addres-scanner-box {
  position: relative;
}

.receiver-addres-scanner-box .scanner-icon {
  position: absolute;
  top: 12px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.notes-input-box
  .MuiFormControl-fullWidth
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 7.5px 49px 7.5px 5px !important;
  cursor: pointer;
}

.qr-code .generate-qr-code {
  height: 250px;
  width: 250px;
  border-radius: 12px;
}

.qr-btn-share-box {
  padding: 33px;
  display: flex;
  justify-content: space-around;
}

.qr-btn-share-box button svg {
  /* height: 40px;
  width: 40px;  */
}

.textarea-question-sequrity.question-custom .MuiInputBase-fullWidth {
  padding: 0;
}

.custom-address-right-contain {
  display: flex;
  max-width: 92px;
}

.cus-address-left-contain p {
  word-break: break-all;
}

.input-wrapper
  .custom-notes-input-box
  .MuiFormControl-fullWidth
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 7.5px 0px 7.5px 5px !important;
}

.custom-dropdown-withdrow {
  border-radius: 12px;
}

.custom-dropdown-withdrow .MuiAutocomplete-paper {
  background-color: #593c8a;
}

.custom-dropdown-withdrow .MuiAutocomplete-paper ul li {
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins";
}

.custom-dropdown-withdrow .MuiAutocomplete-paper ul li:hover {
  background-color: #b270cc;
}

.request-payment-pay-btn-box .request-payment-pay-btn {
  background: #e38cff;
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 50px;
  border: none;
}

.custom-field-contain-status {
  text-transform: capitalize;
}

.payment-request-tabs .tab-btn {
  padding: 10px 25px;
}

.receive-btn .pay-request-icon {
  transform: rotate(180deg);
}

.transaction-title {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  max-width: 200px;
}

.success-main {
  /* background-image: url('./assets/images/transaction-bg.jpg'); */
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-color: #fda342;
}
.success-btn {
  background: linear-gradient(135deg, #2d1b69, #6b2a96);
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}
.success-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.success-btn:hover::before {
  left: 100%;
}

.success-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.success-icon {
  height: 70px;
  width: 70px;
  object-fit: contain;
  margin: 50px auto 20px auto;
}

.success-message-box {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.success-message {
  color: #6610f2;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px 0;
  text-align: center;
}
.character {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  transition: transform 1s ease-in-out;
}
.coin {
  left: -200px;
  animation: moveCoin 5s forwards;
}
.wallet {
  right: -200px;
  animation: moveWallet 5s forwards;
}
/* @keyframes moveCoin {
  to {
    left: 50%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
  }
}
@keyframes moveWallet {
  to {
    right: 50%;
    transform: translate(100%, -50%);
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    -o-transform: translate(100%, -50%);
  }
} */

@keyframes moveCoin {
  0% {
    left: -200px;
    transform: translate(0, -50%);
  }

  25% {
    transform: translate(0, -70%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(-100%, -70%);
  }

  100% {
    left: 50%;
    transform: translate(-100%, -50%);
  }
}
@keyframes moveWallet {
  0% {
    right: -200px;
    transform: translate(0, -50%);
  }

  25% {
    transform: translate(0, -70%);
  }

  50% {
    transform: translate(50%, -50%);
  }

  75% {
    transform: translate(100%, -70%);
  }

  100% {
    right: 50%;
    transform: translate(100%, -50%);
  }
}

.app-btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-icon-btn {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff45;
}

.app-icon-btn .app-icon {
  height: 18px;
  width: 18px;
  object-fit: contain;
  fill: #fff;
}

.cus-address-left-contain .field-contain-address {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
}
.toggle-arrow {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.15);
  /*Initialbackgroundcolor*/
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 35px;
  width: 35px;
  animation: colorChange 2.5s infinite alternate;
  /*animation: colorChange 2.5s infinite alternate, bounce 5s infinite ease-in-out;
  */
  -webkit-animation: colorChange 2.5s infinite alternate;
}

/* Define the background color animation */
/* @keyframes colorChange {
  0% {
    background: rgba(255, 255, 255, 0.15); 
  }
  50% {
    background: #ffc107; /
  }
  100% {
    background: rgba(255, 255, 255, 0.6);
  }
} */

/* Define the bouncing animation */
/* @keyframes bounce {
  0% {
    transform: translateY(0); /
  }
  25% {
    transform: translateY(-10px); 
  }
  50% {
    transform: translateY(0); /
  }
  75% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0);
  }
} */

/* Hover effect for button interaction */
.toggle-arrow:hover {
  transform: scale(1.1); /* Slight scale up on hover */
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
.toggle-arrow .arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 17px;
}

.transaction-section.expanded .arrow-icon {
  transform: ro tate(180deg);
}
body .text-align-right {
  text-align: right;
  width: 100%;
}

.direction-rtl {
  direction: rtl;
}
.lang-dropdown-main {
  position: relative;
}
.lang-dropdown-main .MuiSelect-select {
  padding: 6px 21px 6px 36px;
  border: 1px solid #2f2f2f1a;
  background: #ffffff45;
  color: #fff;
  font-size: 12px;
  font-family: "Poppins-Regular";
  text-transform: uppercase;
  border-radius: 25px;
  max-width: 92px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.lang-dropdown-main .MuiSelect-icon {
  display: none;
}
.lang-dropdown-main fieldset {
  display: none;
}
.lang-dropdown-main
  .MuiFormControl-root
  .Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  border-width: 0px;
}

.lang-change-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  left: 12px;
  inset-inline-start: 12px;
}

.lang-dropdown-main .search-down-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7469%)
    hue-rotate(243deg) brightness(101%) contrast(94%);
  inset-inline-end: 12px; /* ← Always visual left in RTL */
}

body.direction-rtl .lang-dropdown-main .search-down-arrow {
  right: auto; /* Remove right for RTL */
  left: 12px; /* Add left for RTL */
  transform: rotate(180deg);
}

.notes-input-multiline .MuiInputBase-formControl {
  border-radius: 7px;
  background: transparent;
  color: #fff;
  border: 1px solid #8f8e8e80;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}
.notes-input-multiline .MuiInputBase-formControl fieldset {
  display: none;
}

.notes-input-multiline textarea {
  overflow: auto !important;
  resize: none !important;
  resize: vertical;
  max-height: 200px;
  padding-right: 8px;
  scrollbar-width: unset;
}

.notes-input-multiline textarea::-webkit-scrollbar {
  width: 6px;
}

.notes-input-multiline textarea::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

.subscrip-amount {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subscrip-amount p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins";
}
