:root {
  --primary-gradient: linear-gradient(135deg, #2d1b69, #6b2a96);
  --primary-color: #6b2a96;
  --secondary-color: #2d1b69;
  --text-color: #ffffff;
  --dark-bg: rgba(0, 0, 0, 0.15);
  --transaction-bg: rgba(0, 0, 0, 0.2);
  --input-bg: rgba(255, 255, 255, 0.15);
  --danger-color: #ff4444;
  --success-color: #4caf50;
  --border-radius: 16px;
  --button-radius: 100px;
  --black: #000000;
  --white: #ffffff;
  --text-yellow: #d9e238;
  --off-white: #ffffff94;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-gradient);
  color: var(--text-color) !important;
  min-height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
}

.app-container {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/Dash-Board-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--white);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #dfdfdf1f;
  padding-bottom: 16px;
}

.back-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  opacity: 0.9;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upgrade-text {
  font-size: 12px;
  opacity: 0.9;
  border: 1px solid #f7a535;
  padding: 4px 4px;
  border-radius: 36px;
  line-height: 20px;
}

.header-icons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}


/* Tab Styles */
.wallet-tabs {
  display: flex;
  background: #352842;
  border-radius: var(--button-radius);
  padding: 4px;
  margin-bottom: 15px;
  justify-content: center;
}

.tab-btn {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  color: var(--text-color);
  border-radius: var(--button-radius);
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
}

.tab-btn.active {
  background: var(--white);
  color: #000;
}

.wallet-id {
  background: var(--dark-bg);
  padding: 10px 20px;
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 340px;
  font-size: 14px;
  width: 100%;
}

.copy-btn {
  background: none;
  border: none;
  color: var(--off-white);
  cursor: pointer;
  font-size: 18px;
}

.transaction-section-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--white);
  border-bottom: 1px solid #dfdfdf1f;
  padding-bottom: 16px;
}

/* Balance Section */
.balance-section {
  text-align: center;
  margin-bottom: 15px;
}

.balance-label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 5px;
}

.balance-amount {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 5px;
}

.wallet-limit {
  font-size: 14px;
  opacity: 0.7;
}

/* Button Styles */
.action-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
}

.action-btn {
  flex: 1;
  padding: 12px 10px;
  border: none;
  background: var(--white);
  color: var(--black);
  border-radius: var(--button-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
}

.action-btn img {
  height: 20px;
  width: 20px;
}

.action-btn.receive-btn img {
  transform: rotate(180deg);
}

.action-btn:disabled,
.action-btn.send-pi-btn:disabled {
  flex: 1;
  padding: 12px 10px;
  border: none;
  background: #9e9e9e;
  color: var(--black);
  border-radius: var(--button-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
}

/* .action-btn.full-width {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: var(--white);
  font-size: 17px;
  padding: 15px 20px;
} */

.btn-icon {
  font-size: 18px;
  color: var(--black);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stats Section */
/* .stats-section {
  background-color: var(--white);
  margin-bottom: 24px;
  border-radius: 12px;
  padding: 8px;
  position: relative;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
}

.stats-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  color: #000;
  justify-content: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat-card {
  padding: 8px 8px;
  text-align: center;
}

.stat-label {
  font-size: 13px;
  opacity: 0.9;
  margin-bottom: 8px;
  color: #3a3a3a;
}

.stat-value {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--black);
}

.stat-change {
  font-size: 13px;
  color: #00ff73;
} */


/* Send Page Styles */
/* .send-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
} */

/* .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.input-group label {
  font-size: 14px;
  opacity: 0.9;
} */

.input-wrapper {
  /* display: flex; */
  /* gap: 12px; */
}

.text-color {
  color: var(--text-yellow);
  font-family: sans-serif;
}

/* .input-wrapper input {
  flex: 1;
  padding: 16px;
  background: var(--dark-bg);
  border: none;
  border-radius: 40px;
  color: var(--text-color);
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.input-wrapper input::placeholder {
  color: var(--white);
  opacity: 0.6;
} */

.paste-btn {
  padding: 0 20px;
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  opacity: 0.9;
}

.address-book-link {
  background: none;
  border: none;
  color: #e38cff;
  text-align: end;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

/* .notes-input {
  width: 100%;
  padding: 16px;
  background: var(--dark-bg);
  border: none;
  border-radius: 40px;
  color: var(--white);
  font-size: 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.notes-input-box {
  width: 100%;
  background: var(--dark-bg);
  border: none;
  border-radius: 40px;
  color: var(--white);
  font-size: 15px;
}
 */


/* .numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 20px 0;
} */

/* .numpad button {
  aspect-ratio: 1;
  background: var(--dark-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Receive Page Styles */


.qr-code {
  /* padding: 24px; */
  /* border-radius: var(--border-radius); */
  /* margin-bottom: 16px; */
  /* display: inline-block; */
}

/* .qr-code img {
  width: 250px;
  height: 250px;
} */

.wallet-address {
  font-size: 14px;
  opacity: 0.9;
  margin: 16px 0;
}

.circle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.circle-btn .icon {
  width: 50px;
  height: 50px;
  background: var(--dark-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.circle-btn span:last-child {
  font-size: 14px;
  opacity: 0.9;
}

.share-btn {
  gap: 8px;
  border-radius: 36px;
  margin-top: auto;
  background-color: #ffffff45;
  max-width: 150px;
}

/* Custom scrollbar */
.transaction-list::-webkit-scrollbar {
  width: 3px;
}

.transaction-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.transaction-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

button.address-book-btn {
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 14px;
  outline: 0;
  border: 0;
  width: 100%;
  box-shadow: none;
  text-align: center;
  color: var(--text-color);
  border: 1px solid #e38cff;
  cursor: pointer;
}

.app-container.p-20-0 {
  padding: 0;
}

.app-container .p-20 {
  padding: 20px;
}

/* 
.stat-card:first-child {
  border-right: 1px solid #dfdfdf;
} */

/* .input-wrapper.send-input-box {
  position: relative;
}

.input-wrapper.send-input-box .paste-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.input-wrapper.send-input-box .left-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
} */


.modal.user-setting-modal {
  bottom: 0;
  top: auto;
  height: unset;
}

.modal.user-setting-modal .btn-close {
  position: absolute;
  inset-inline-end: 12px;
  font-size: 12px;
}

.modal.show.user-setting-modal .modal-dialog {
  margin: 0 auto;
}

.modal.user-setting-modal .modal-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user-setting-modal .modal-title {
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  font-weight: 500;
  margin: 0;
}

.setting-icon-box img {
  max-width: 100%;
  height: 18px;
  width: 18px;
}

.setting-cont-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--black);
  margin: 0;
}

.setting-cont-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}

.setting-cont-box:last-child {
  margin-bottom: 0;
}

.signin-header {
  justify-content: center;
  border: 0;
}

.app-container.signin-main {
  display: flex;
  justify-content: center;
}

.sigin-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.app-icon img {
  height: 100%;
}

.app-logo {
  height: 80px;
  animation: pulse 2s infinite;
  width: 80px;
}

.sigin-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  max-width: 445px;
  margin: auto;
  /* width: 100%; */
}

.sigin-footer p {
  font-family: inherit;
  font-size: 12px;
  color: white;
  line-height: 12px;
  cursor: pointer;
}

.sigin-footer p:hover {
  color: lightgray;
}


.set-pin-box .set-pin-input .MuiOtpInput-TextField {
  border: 1px solid var(--white);
  border-radius: 6px;
}

.set-pin-box .set-pin-input .MuiOtpInput-TextField input {
  color: var(--white);
  font-weight: 600;
  padding: 12px;
  width: 42px;
}

.set-pin-box .set-pin-input .MuiOtpInput-TextField fieldset {
  display: none;
}

.set-pin-box .text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  word-spacing: 2px;
  margin-bottom: 13px;
  font-family: "Poppins";
}

.set-pin-row .show-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.set-pin-box {
  width: 100%;
}

.textarea-question-sequrity label {
  color: var(--white);
}

.textarea-question-sequrity .MuiOutlinedInput-root fieldset {
  display: none;
}

.set-pin-row .set-pin-input-box {
  width: 100%;
  height: 46px;
  text-align: center;
  border-radius: 6px;
  font-size: 17px;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 600;
}

.set-pin-row input .set-pin-input-box:focus-visible {
  outline: none;
}


/* .app-container.set-pin-div {
  display: flex;
  padding: 20px 20px;
}

.set-pin-div .heading-note {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins";
  line-height: 18px;
} */

.question-radio-box svg {
  height: 18px;
  width: 18px;
}

.question-radio .question-radio-box,
.question-radio .question-radio-box.Mui-checked {
  color: var(--white);
}

/* .pin-success-message-div {
  border: 4px solid var(--white);
  min-height: 350px;
  width: 100%;
  border-radius: 12px;
  padding: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}

.pin-success-message-div .logo-box img {
  height: 74px;
  width: 74px;
}

.pin-success-message-div .button-box button {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: var(--white);
  font-size: 20px;
  padding: 18px 60px;
  border-radius: 46px;
  border: none;
}

.pin-success-message-div .success-message {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  align-items: 48px;
} */

.app-container .p-26 {
  padding: 26px;
}

/* verification css start */

/* .common-pin-flex {
  display: flex;
  align-items: center;
  gap: 15px;
} */


/* .common-pin-btn-center {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.common-head-details {
  margin-bottom: 35px;
}

.address-modal .common-style-modal {
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.common-style-modal .modal-header-common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  border-bottom: 1px solid #82828294;
}

.modal-header-common .add-title {
  color: var(--white);
  font-family: "Poppins";
  font-weight: 500;
}

/* .common-grid .label-field {
  font-size: 14px;
  color: #eae1e1;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 3px;
  line-height: 20px;
} */

.common-style-modal .modal-body {
  padding: 15px;
  max-height: calc(100vh - 170px);
  overflow: auto;
}


/* .common-grid .input-wrapper {
  flex-direction: column;
} */
/* 
.grid-row .common-grid {
  margin-bottom: 14px;
} */

/* .common-grid .input-wrapper input {
  border-radius: 7px;
  background: transparent;
  color: var(--white);
  border: 1px solid #8f8e8e80;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
} */

/* .common-grid .input-wrapper input::placeholder {
  color: #b8b3b3;
} */

/* .flex-filed-details .radio-group-flex span svg {
  color: var(--white);
} */

.common-style-modal .modal-footer {
  padding: 15px;
  margin-top: 15px;
}

.footer-address-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.border-btn {
  border: 1px solid var(--white);
  width: 100%;
  padding: 13px 15px;
  border: none;
  color: var(--black);
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--white);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


/* .grid-row .common-grid:last-child {
  margin: 0px;
} */

.list-ul-address .list-item-address {
  padding: 10px;
  border-radius: 8px;
  background: var(--dark-bg);
  margin-bottom: 10px;
}

.list-ul-address .list-item-address:last-child {
  margin-bottom: 0;
}

.address-book-listing .list-ul-address {
  padding: 0px;
  max-height: calc(100vh - 210px);
  overflow: auto;
  padding-right: 10px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar,
.common-style-modal .modal-body::-webkit-scrollbar {
  width: 3px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-track,
.common-style-modal .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-thumb,
.common-style-modal .modal-body::-webkit-scrollbar-thumb {
  background: #8c76be;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-book-listing .list-ul-address::-webkit-scrollbar-thumb:hover,
.common-style-modal .modal-body::-webkit-scrollbar-thumb:hover {
  background: #8c76be;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.address-left-contain .list-field-show {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 5px 0px;
  flex-wrap: wrap;
  border-bottom: 1px solid #ffffff08;
}

.address-left-contain .list-field-show:last-child {
  border-bottom: none;
}

.flex-justify-gap-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.address-left-contain .list-field-show .label-contain-address {
  /* flex: 0 0 90px;
  max-width: 90px;
  width: 100%; */
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
}

.address-left-contain .list-field-show .field-contain-address {
  /* flex: 1; */
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-break: break-word;
  opacity: 0.8;
}

.address-left-contain {
  flex: 1;
}

.address-left-contain .list-field-show.list-field-show-full {
  flex-direction: column;
  gap: 7px;
}

.address-auth-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-auth-details .btn,
.address-auth-details .btn:hover,
.address-auth-details .btn:active {
  padding: 2px;
  border: none;
  background-color: #ffffff45;
  border-radius: 50%;
  max-width: 30px;
  height: 30px;
  width: 100%;
}

/* .address-book-head .icon-btn {
  height: 30px;
  width: 30px;
} */

.address-left-contain .list-field-show:last-child {
  margin-bottom: 0px;
}

.address-auth-details .btn svg {
  font-size: 18px;
  color: var(--white);
}

.address-right-contain {
  max-width: 30px;
  width: 100%;
}

.address-book-listing {
  margin-right: -10px;
}

.address-book-head .address-book-title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.address-book-head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.modal-header-common.address-modal-header .btn-close {
  position: absolute;
  inset-inline-end: 10px;
  background-color: var(--white);
  font-size: 10px;
}

.delete-modal-contain {
  text-align: center;
}

.delete-modal-contain .are-you-sure-title {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.delete-modal-contain .are-you-sure-desc {
  color: var(--white);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  max-width: 250px;
  margin: auto;
}

.footer-address-center .action-btn-border {
  margin-bottom: 0px;
  background: transparent;
  font-size: 17px;
  padding: 10px 20px;
  color: #f8f6fc;
  outline: none;
  border-radius: 30px;
  border: 1px solid #e0dee6;
  width: 100%;
  font-weight: 400;
}

.delete-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.delete-flex button {
  width: 100%;
  max-width: 130px;
}

.no-address-book {
  min-height: calc(100vh - 290px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.no-address-book .no-address-title {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 26px;
  color: var(--white);
}

.security-question-details .security-question-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.verify-answer-content .verify-answer-label {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 5px;
}

.verify-answer-content .Mui-error {
  margin-left: 0px;
}

.verify-answer-content .verify-answer-label {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 5px;
}

.verify-answer-content .Mui-error {
  margin-left: 0px;
}

.textarea-question-sequrity .MuiInputBase-fullWidth {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  background: var(--dark-bg);
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.textarea-question-sequrity .MuiInputBase-fullWidth textarea::placeholder {
  color: var(--white);
  opacity: 0.6;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.verify-answer-content .textarea-question-sequrity {
  margin: 5px 0px 0px 0px;
}

.notes-input-box .notes-input input {
  background: transparent;
  padding: 0px;
}

.notes-input-box .notes-input .MuiInputBase-formControl {
  padding: 8px 9px !important;
  font-family: "Poppins";
}

.notes-input-box .notes-input svg {
  color: var(--white);
  opacity: 0.8;
}

.withdraw-form .input-mb-space {
  margin-bottom: 20px;
}

.pr-receive-input .input-wrapper input {
  padding-right: 90px;
}

.receive-btn-share .secondary-btn.share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  height: 54px;
}

.receive-btn-share {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

span.icon {
  display: flex;
  margin-top: -2px;
}

.loader-main {
  background: #00000085;
  height: 100vh;
  border-radius: 11px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-main .loader-details {
  position: relative;
  max-width: max-content;
}

.loader-outer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 4px;
  background: conic-gradient(#ff9800, #ffc107, #ff9800);
  animation: spinBorder 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-ring {
  width: 90px;
  height: 90px;
  border: 3px solid rgb(247 165 53 / 50%);
  border-top-color: #f7a535;
  border-radius: 50%;
  transform-origin: center;
  animation: rotatering 2s linear infinite;
  -webkit-animation: rotatering 2s linear infinite;
}

@keyframes rotatering {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-inner {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.question-radio label .MuiFormControlLabel-label {
  font-size: 14px;
  color: var(--white);
  font-family: "Poppins";
  font-weight: 400;
}

.btn-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-home-content .btn-home-content {
  margin-bottom: 0px;
  font-family: Poppins;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 20px;
}

.action-send-main-contain {
  flex-wrap: wrap;
}

.action-send-main-contain .btn-icon img {
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7481%)
    hue-rotate(137deg) brightness(91%) contrast(97%);
}

.receiver-addres-scanner-box .scanner-icon img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/* .receiver-addres-scanner-box .scanner-icon {
  min-width: 50px;
} */

.deduction-message {
  margin: 10px 0 0 10px;
}

.subscrip-heading p {
  font-weight: 700;
  font-size: 20px;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.tick-mark-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subscrip-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  font-family: "Poppins";
}

.subscrip-icon img {
  height: 20px;
  width: 20px;
}

.header-icons .subscrip-icon {
  cursor: auto;
}

/* #html5qr-code-full-region__dashboard video:nth-child(2){
  display: none;
} */


.action-send-main-contain .action-btn,
.action-send-main-contain .action-btn:hover,
.action-send-main-contain .action-btn:active {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  max-width: 160px;
  padding: 9px 10px;
}

.action-send-main-contain .action-btn img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4097%)
    hue-rotate(317deg) brightness(112%) contrast(106%);
}

.verify-icons {
  height: 20px;
  width: 20px;
}

.notes-input-box
  .MuiFormControl-fullWidth
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment {
  display: none;
}

.receiver-addres-scanner-box {
  position: relative;
}

.notes-input-box .MuiFormControl-fullWidth .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 7.5px 25px 7.5px 5px !important;
  cursor: pointer;
}

.qr-code .generate-qr-code {
  height: 250px;
  width: 250px;
  border-radius: 12px;
}

.qr-btn-share-box {
  padding: 33px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.qr-btn-share-box button svg {
  height: 40px;
  width: 40px;
}

.textarea-question-sequrity.question-custom .MuiInputBase-fullWidth {
  padding: 0;
}

.custom-address-right-contain {
  display: flex;
  max-width: 92px;
}

.cus-address-left-contain p {
  word-break: break-all;
}

.input-wrapper
  .custom-notes-input-box
  .MuiFormControl-fullWidth
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 7.5px 0px 7.5px 5px !important;
}

.custom-dropdown-withdrow {
  border-radius: 12px;
}

.custom-dropdown-withdrow .MuiAutocomplete-paper {
  background-color: #593c8a;
}

.custom-dropdown-withdrow .MuiAutocomplete-paper ul li {
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins";
}

.custom-dropdown-withdrow .MuiAutocomplete-paper ul li:hover {
  background-color: #b270cc;
}


.custom-field-contain-status {
  text-transform: capitalize;
}

.payment-request-tabs .tab-btn {
  padding: 10px 25px;
}

.receive-btn .pay-request-icon {
  transform: rotate(180deg);
}

.transaction-title {
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}

.success-main {
  /* background-image: url('./assets/images/transaction-bg.jpg'); */
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-color: #fda342;
}

.success-btn {
  background: linear-gradient(135deg, #2d1b69, #6b2a96);
  color: var(--white);
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.success-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.success-btn:hover::before {
  left: 100%;
}

.success-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.success-icon {
  height: 70px;
  width: 70px;
  object-fit: contain;
  margin: 50px auto 20px auto;
}

.success-message-box {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.success-message {
  color: #6610f2;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px 0;
  text-align: center;
}

.character {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  transition: transform 1s ease-in-out;
}

.coin {
  left: -200px;
  animation: moveCoin 5s forwards;
}

.wallet {
  right: -200px;
  animation: moveWallet 5s forwards;
}

/* @keyframes moveCoin {
  to {
    left: 50%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
  }
}
@keyframes moveWallet {
  to {
    right: 50%;
    transform: translate(100%, -50%);
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    -o-transform: translate(100%, -50%);
  }
} */

@keyframes moveCoin {
  0% {
    left: -200px;
    transform: translate(0, -50%);
  }

  25% {
    transform: translate(0, -70%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(-100%, -70%);
  }

  100% {
    left: 50%;
    transform: translate(-100%, -50%);
  }
}

@keyframes moveWallet {
  0% {
    right: -200px;
    transform: translate(0, -50%);
  }

  25% {
    transform: translate(0, -70%);
  }

  50% {
    transform: translate(50%, -50%);
  }

  75% {
    transform: translate(100%, -70%);
  }

  100% {
    right: 50%;
    transform: translate(100%, -50%);
  }
}

.app-btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-icon-btn {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff45;
}

.app-icon-btn .app-icon {
  height: 18px;
  width: 18px;
  object-fit: contain;
  fill: var(--white);
}

.cus-address-left-contain .field-contain-address {
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  font-weight: 500;
}

.notes-input-multiline .MuiInputBase-formControl {
  border-radius: 7px;
  background: transparent;
  color: var(--white);
  border: 1px solid #8f8e8e80;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}
.notes-input-multiline .MuiInputBase-formControl fieldset {
  display: none;
}

.notes-input-multiline textarea {
  overflow: auto !important;
  resize: none !important;
  resize: vertical;
  max-height: 200px;
  padding-right: 8px;
  scrollbar-width: unset;
}

.notes-input-multiline textarea::-webkit-scrollbar {
  width: 6px;
}

.notes-input-multiline textarea::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 3px;
}

.subscrip-amount {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subscrip-amount p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins";
  margin-top: 20px;
}
.user-dropdown-box .user-from-control {
  position: relative;
  width: 100%;
}

.user-dropdown-box .MuiSelect-select {
  border-radius: 7px;
  background: var(--dark-bg);
  color: var(--white);
  border: 1px solid #8f8e8e80;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.user-dropdown-box .MuiOutlinedInput-input:focus {
  border-radius: var(--border-radius-10);
}

.user-dropdown-box fieldset {
  border: 0;
}

.user-dropdown-box .MuiMenu-list .user-drop-menuitem {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.user-dropdown-box svg {
  color: var(--white);
}

.user-file-upload-btn-main .user-file-upload-btn,
.user-file-upload-btn-main .user-file-upload-btn:hover {
  background: var(--dark-bg);
  height: 100%;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px dashed #ffffff57;
}

.user-file-upload-btn-main {
  position: relative;
  height: 200px;
}

.user-upload-profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-file-upload-btn-main .user-upload-icon-img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}


.button-top-space {
  margin-top: 25px;
}

.outline-tabs {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  max-width: 160px;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
  border-radius: var(--button-radius);
  flex: 1;
}

.outline-tabs-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.outline-tabs-icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(6%)
    hue-rotate(174deg) brightness(104%) contrast(100%);
}

.common-btn {
  width: 100%;
  background: #e38cff;
  color: var(--white);
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.common-btn:hover {
  background-color: var(--secondary-color);
}

.common-btn-space-main {
  margin-top: 40px;
}

.kyb-autocomplete-input .dropdown-select fieldset {
  display: none;
}

.kyb-autocomplete-input .dropdown-select {
  border-radius: 7px;
  background: transparent;
  border: 1px solid #8f8e8e80;
}

.kyb-autocomplete-input .dropdown-select input {
  color: var(--white);
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "Poppins";
}

.kyb-autocomplete-input
  .dropdown-select
  .MuiAutocomplete-endAdornment
  button
  svg {
  color: var(--white);
}

.sigin-lang-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.sigin-lang-footer p {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  line-height: 18px;
  cursor: pointer;
  margin: 0;
}

.sigin-lang-footer p.active-lang {
  color: #f7a535;
}

.sigin-lang-footer p:hover {
  color: lightgray;
}

.user-form-lable {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 8px;
}

.user-form-group textarea,
.user-form-group input {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  background: var(--dark-bg);
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
}

.user-form-group .MuiInputBase-root {
  padding: 0;
}

.user-form-group input::placeholder {
  color: var(--white);
  opacity: 0.5;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.user-form-group textarea::placeholder {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.5;
}

.user-form-group fieldset {
  border: 0;
}

.success-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--white);
  text-align: center;
}


.success-message-center {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amount-section {
  margin: 30px 0px;
  text-align: center;
}

.amount-section label {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
}

.amount-display {
  font-size: 26px;
  line-height: 30px;
  color: var(--white);
  font-weight: 500;
}

.secondary-btn {
  padding: 16px 30px;
  border: none;
  background: var(--dark-bg);
  color: var(--text-color);
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;
}

.secondary-btn:hover {
  background-color: #e38cff;
}

.btn-icon-img {
  height: 18px;
  width: 18px;
  object-fit: contain;
}

.input-box {
  margin-bottom: 15px;
}

.app-container .common-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  margin-bottom: 10px;
}

.app-container .common-para {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: var(--white);
}

.user-form-group .MuiTextField-root {
  margin: 0;
  width: 100%;
}

.set-pin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.set-pin-main {
  margin-top: 30px;
}

.common-space {
  margin-top: 10px;
}

.scanner-img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.user-form-group {
  position: relative;
}

.scanner-icon-box {
  position: absolute;
  top: 5px;
  bottom: 0;
  inset-inline-end: 12px;
}

.user-form-group .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
  padding: 0 !important;
}

.user-form-group .MuiAutocomplete-input {
  padding: 9px 15px !important;
}

.user-form-group .MuiAutocomplete-hasPopupIcon .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  padding: 0 !important;
}

.user-form-group .MuiFormControl-fullWidth .MuiAutocomplete-inputRoot .MuiAutocomplete-endAdornment {
  display: none;
}

.flex-filed-details .radio-group-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-group-flex .MuiFormControlLabel-label {
  font-size: 14px;
  color: var(--white);
  font-family: Poppins;
  font-weight: 500;
}

.radio-group-flex .MuiFormControlLabel-root {
  margin: 0;
  gap: 10px;
}

.radio-group-flex .MuiRadio-root {
  padding: 0px 0px 0px 0px;
}

.request-payment-pay-btn-box .request-payment-pay-success-btn {
  background-color: var(--success-color);
}

.request-payment-pay-btn-box .request-payment-pay-pending-btn {
  background-color: #e38cff;
}

.request-payment-pay-btn-box .request-payment-pay-btn {
  color: var(--white);
  padding: 3px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  max-width: max-content;
}

.request-payment-pay-btn-box {
  position: absolute;
  inset-inline-end: 5px;
  bottom: 5px;
}

.input-box .radio-group-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.input-box .radio-group-flex svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
  color: var(--white);
}

.address-book-details ul {
  padding: 0;
}

.qr-scanner-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.qr-scanner-main #qr-reader {
  padding: 20px;
  border-radius: 12px;
  border: 3px solid var(--white);
  width: 100%;
}

#html5-qrcode-button-camera-permission {
  margin-bottom: 16px;
  background: #e38cff;
  color: var(--white);
  font-size: 17px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
  width: 100%;
  margin-bottom: 16px;
  background: #e38cff;
  color: var(--white);
  font-size: 17px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

#qr-reader__scan_region img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(100%) contrast(101%);
}

.icon-btn {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff45;
}

.icon-btn img {
  width: 18px;
  height: 18px;
}

.input-error {
  color: var(--danger-color);
  font-size: 13px;
  margin-top: 3px;
  font-weight: 400;
}

.transaction-section {
  background: #16151a;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: auto;
  height: 30%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  transition: 0.3s ease-in-out;
}

.transaction-section.expanded {
  height: calc(100% - 20%);
}

.transaction-main-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #272727;
}

.transaction-details {
  display: flex;
  gap: 16px;
  align-items: center;
}

.transaction-section.transaction-section-top {
  padding-top: 100px;
  margin-top: -120px;
}

.transaction-section.expanded .transaction-list {
  max-height: calc(100vh - 22%);
}

.transaction-list {
  max-height: 265px;
  overflow-y: auto;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-right: 16px;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #272727;
}

.transaction-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.transaction-time {
  font-size: 13px;
  line-height: 16px;
  color: var(--off-white);
  font-weight: 400;
  margin: 0;
}

.transaction-icon {
  object-fit: contain;
  height: 35px;
  width: 35px;
}

.transaction-amount {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: right;
  margin: 0;
}

.transaction-amount .transaction-date {
  font-size: 13px;
  line-height: 18px;
  color: var(--off-white);
  font-weight: 400;
  margin: 0;
}

.transaction-amount.positive {
  color: var(--success-color);
}

.transaction-amount.negative {
  color: var(--danger-color);
}

.toggle-arrow {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-inline-end: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 35px;
  width: 35px;
  animation: colorChange 2.5s infinite alternate;
  -webkit-animation: colorChange 2.5s infinite alternate;
}


.toggle-arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.3);
}

.toggle-arrow .arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 17px;
}

.transaction-section.expanded .arrow-icon {
  transform: ro tate(180deg);
}

body .text-align-right {
  text-align: right;
  width: 100%;
}

.direction-rtl {
  direction: rtl;
}

.lang-dropdown-main {
  position: relative;
}

.lang-dropdown-main .MuiSelect-select {
  padding: 6px 21px 6px 36px;
  border: 1px solid #2f2f2f1a;
  background: #ffffff45;
  color: var(--white);
  font-size: 12px;
  font-family: "Poppins-Regular";
  text-transform: uppercase;
  border-radius: 25px;
  max-width: 92px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.lang-dropdown-main .MuiSelect-icon {
  display: none;
}

.lang-dropdown-main fieldset {
  display: none;
}

.lang-dropdown-main .MuiSelect-select:focus {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.lang-dropdown-main .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  border-width: 0px;
}

body.direction-rtl .lang-dropdown-main .MuiSelect-select {
  padding: 6px 36px 6px 30px;
}

.lang-change-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  left: 12px;
  inset-inline-start: 12px;
}

.lang-dropdown-main .search-down-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7469%) hue-rotate(243deg) brightness(101%) contrast(94%);
  inset-inline-end: 12px;
}

body.direction-rtl .lang-dropdown-main .search-down-arrow {
  right: auto;
  left: 12px;
}

.qr-section {
  text-align: center;
}

.splash-box {
  text-align: center;
}

.splash-btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-logo{
  width: 80px;
  height: 80px;
  object-fit: contain;
}
/* Splash Animation */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.logo-animate {
  opacity: 0;
  animation: scaleIn 1s ease-out 0.2s forwards;
}

.fade-in-button {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes scaleIn {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}
